header{
    display: grid;
    max-height: 150px;
}

.hautDePage{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hautDePage nav {
    justify-self: right;
    align-self: center;
}

.hautDePage li {
    font: black;
    list-style-type: none;
}