body {
    display: grid;
    margin: 0%;
}

.conteneur {
    display: grid;
}

.slide {
    display: grid;
    max-height: 400px;
    border: 1px solid black;
}

.services {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
}

.services p {
    margin: 0;
}

.services img {
    border-bottom: 3px solid black;
    justify-self: center;
    align-self: center;
}

.ourTeam {
    display: grid;
    border: 1px solid black;
}

.ourTeamImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ourTeamImg img{
    border: 1px solid black;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 200px;
    border: 0.5px solid black;
}

.ourTeamText {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ourTeamText p{
    border: 0.5px solid black;
    margin: 0;
}

.avantFooter {
    display: grid;
    grid-template-areas: 
    "portfolio photo"
    "plan contactUs"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 363px 363px;
}

.portfolio {
    border: 0.5px solid black;
}

.photo img{
    border: 0.5px solid black;
    height: 362px;
    width: 100%;
}

.plan {
    border: 0.5px solid black;
}

.contactUS{
    border: 0.5px solid black;
}
